# Environment variables
.env

# Python virtual environments
venv/
.env/
.venv/

# Mac/Windows junk
__pycache__/
.DS_Store

# IDE folders
.vscode/
.idea/

# Python virtual environments
venv/
env/
.venv/
theftai/Lib/
theftai/Include/
theftai/Scripts/
